footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    height: auto;
}

.information {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.information h4 {
    font-size: 30px;
    font-family: Arvo;
    margin-bottom: 20px;
    text-align: center;
}

.information p {
    font-size: 17px;
    margin-bottom: 10px;
    /* font-family: Arvo; */
}
.information__item {
    margin-bottom: 50px;
    text-align: center;
}
.information__social-icons {
    margin-top: 20px;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arvo;
}
.navigation a {
    color: #ec9c51;
    text-decoration: none;
    font-family: Arvo;
    margin: 0 10px;
}
.fa-brands {
    margin: 10px;
}


@media screen and (max-width: 850px) {
    .information {
        display: block;
        margin-top: 30px;
    }
    .navigation {
        display: block;
        text-align: center;
    }
}