.introduction {
    background-image: url("../bg.jpg");
    background-size: cover;
    background-position: center;
    height: max-content;
    font-family: Arvo;
    position: relative;
    width:100%;

    &__text {
        position: relative;
        top: 50%;
        left: 55%;
        font-family: Arvo;
        max-width: 40%;
        /* padding: 20px; */
        text-align: justify;
        padding:50px 0px;

    }
    a{
        color: #e6181c;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        font-family: Arvo;
    }
}
.section-heading {
    font-size: 52px;
    margin-bottom: 20px;
    font-family: Arvo;

}
.section-paragraph {
    font-family: Arvo;
    font-size: 18px;
    line-height: 2;
    font-weight: 50px;
    margin-bottom: 20px;
}

.story {
    display: flex;
    height: max-content;
    font-family: Arvo;
    text-align: justify;

    &__text {
        flex: 1;
        padding: 50px;

    &__paragraph{
        text-align: start;
    }

    }
    &__image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 15px;
        }
    }
}